li {
	list-style: none;
}

#book-ID {
	visibility: hidden;	
}

.book-info-section {
	border-radius: 5px;
	height: 730px;
	padding: 10px;
	width: 100%;
}

.book-image-and-cart-button {
	display: flex;
	flex-direction: column;
	float: left;
	height: 100%;
	width: 30%;
}

.book-img-block {
	background-color: #E6EAF3; 
	border-radius: 3px;
	border: 1px solid #0E4085;
	display: flex;
	height: 80%;
	justify-content: space-around;
	padding: 10%;
}

.book-img-block > img {
	height: 100%;	
}

.book-img-block:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.book-img-block > img:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.buttons-block {
	display: flex;
	height: 10%;
	margin-top: 10px; 
	width: 100%;
}

.buttons-block > div{
	height: 100%;
	width: 50%;
}

.cart-button-block__button, .buy-button-block__button {
	background-color: orange;
	border-radius: 2px;
	border: none;
	color: #0E4085;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
	height: 70%;
	left: 50%;
	outline: none;
	position: relative;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
}

.buy-button-block > a {
	text-decoration: none;
}

.buy-button-block__button {
	background-color: #3aaf6d
}

.buy-button-block__button:hover, .cart-button-block__button:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.book-details {
	background-color: none;
	display: flex;
	flex-direction: column;
	height: 90%;
	padding-left: 30px;
}

.book-name {
	color: #680909;
	font-size: 25px;
}

.price-and-seller {
	background-color: none;
	display: flex;
	flex-shrink: 0;
	margin-top: 20px;
}

.price-and-seller__price{
	font-size: 24px;
	margin-right: 10px;
}

.book-specifications {
	border-radius: 2px;
	border: solid 2px maroon;
	flex-shrink: 1;
	margin-top: 24px;
	overflow: scroll;
}

.book-specifications__title {
	color: #680909;
	font-size: 25px;
	padding: 24px 30px 24px 24px;
}

.book-specifications__general {
	border-top: solid 2px maroon;
	font-size: 18px;
	padding: 24px 24px 34px 24px;
}

.book-specifications__general-title {
	font-size: 20px;
}

.book-specifications__list-row {
	display: flex;
	padding-top: 16px;
}

.book-specifications__name {
	color: #680909;
	padding-right: 8px;
	width: 15%;
}