html {
    font-size: 62.5%;
}

.header {
    height: 8rem;
    margin-bottom: 2rem;
}

li {
	list-style: none;
}

.book-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	width: 100vw;
}

.book-image-and-cart-button {
	display: flex;
	flex-direction: column;
    height: 70rem;
	width: 45rem;
}

.book-img-block {
    align-items: center;
	border: 1px solid maroon;
	display: flex;
	height: 90%;
	justify-content: space-around;
}

.book-img-block > img {
    height: 60rem;
}

.book-img-block:hover {
    background-color: #E6EAF3;
	//box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.buttons-block {
    align-items: center;
	display: flex;
    height: 10%;
    justify-content: space-around;
}

/*todo fixme*/

.cart-button-block__button, .buy-button-block__button {
	background-color: orange;
	border-radius: 0.1rem;
	border: none;
	color: #053370;
	cursor: pointer;
	font-size: 3rem;
	outline: none;
	width: 20rem;
    height: 5rem;
}

/*// todo fixme, classname instead of tagname*/
.buy-button-block > a {
	text-decoration: none;
}

.buy-button-block__button {
	background-color: #3aaf6d
}

.buy-button-block__button:hover, .cart-button-block__button:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.book-details {
	display: flex;
	flex-direction: column;
    width: 90rem;
}

.book-name {
	color: #680909;
	font-size: 25px;
}

.price-and-seller {
	background-color: none;
	display: flex;
    font-size: 2.4rem;
	height: 8rem;
    line-height: 8rem;
}

.price-and-seller__price {
	margin-right: 1rem;
}

.book-specifications {
	border-radius: 0.2rem;
	border: solid 0.2rem maroon;
}

.book-specifications__title {
	color: #680909;
	font-size: 2.5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.book-specifications__box {
    border-top: solid 0.2rem maroon;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
}

.book-specifications__name-value {
    width: 50%;
}

.book-specifications__list-row {
	display: flex;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
}

.book-specifications__name {
	color: #680909;
    width: 12rem;
}