.header {
	height: 7.6rem;
	top: 0;
	z-index: 10;
}

.cart-box {
	align-items: flex-start;
	display: flex;
	font-size: 1.8rem;
	justify-content: space-around;
	margin-top: 30px;
}

.cart-items-table {
	background-color: #fff;
	border-radius: 0.2rem;
	box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
	width: 75rem;
}

.cart-text-value {
	height: 4.7rem;
	line-height: 4.7rem;
	padding-left: 2.5rem;
}

.cart-items-list {
	border-top: 0.1rem solid #d0d0d0;
	display: flex;
	height: 22rem;
}

.img-block {
	align-items: center;
	border-right: 0.1rem solid #d0d0d0;
	display: flex;
	justify-content: space-around;
	width: 19rem;
}

.img-block__img {
	height: 20rem;
}

.name-and-price {
	display: flex;
	flex-direction: column;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 56rem;
}

.name-block {
	align-items: center;
	color: #680909;
	display: flex;
	font-size: 1.8rem;
	height: 6rem;
}

.name-block__name {
	text-decoration: none;
	width: 100%;
}

.name-block__name:hover {
	color: #123fd1;
}

.price-and-seller {
	display: flex;
	height: 6rem;
	line-height: 6rem;
}

.price-and-seller__price {
	font-size: 3rem;
	padding-right: 1rem;
}

.quantity-update-or-remove {
	display: flex;
	height: 6rem;
	line-height: 6rem;
}

.quantity-update {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 15rem;
}

.quantity-update__button{
	background-color: #F0F0F0;
	border : 0.1rem solid #c2c2c2;
	border-radius: 50%;
	font-size: 2.5rem;
	height: 3.5rem;
	line-height: 2.5rem;
	outline: none;
	width: 3.5rem;
}

.quantity-update__input {
	border : 0.1rem solid #c2c2c2;
	font-size: 1.5rem;
	font-weight: bold;
	height: 3.5rem;
	text-align: center;
	width: 5rem;
}

.quantity-update__button:hover{
	box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .2);
	cursor: pointer;
}

.quantity-remove {
	text-align: center;
	width: 12rem;
}

.quantity-remove__button {
	background-color: #F0F0F0;
	border-radius: .3rem;
	font-size: 2rem;
	outline: none;
	width: 8.5rem;
}

.quantity-remove__button:hover {
	box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .2);
	cursor: pointer;
}

.price-and-checkout {
	display: flex;
	flex-direction: column;;
	position: sticky;
	top: 10.5rem;
	width: 49rem;
}

.price-block {
	background: #fff;
	border-radius: .2rem;
	box-shadow: 0px .8rem 1.6rem 0 rgba(0,0,0,0.2);
}

.price-block__title {
	border-bottom: .1rem solid #d0d0d0;
	color: #878787;
	height: 5rem;
	line-height: 5rem;
	padding-left: 2.4rem;
	text-transform: uppercase;
}

.price-details-block {
	border-bottom: .1rem solid #d0d0d0;
	font-size: 1.5rem;
	padding: 0 2.4rem;
}

.price-and-delivery {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 4rem;
}

.payable-price-block {
	align-items: center;
	border-top: .1rem dashed #d0d0d0;
	display: flex;
	font-weight: bold;
	height: 5rem;
	justify-content: space-between;
}

.checkout-block {
	background-color: #fff;
	display: flex;
	height: 8rem;
	justify-content: space-around;
}

.continue-shopping, .checkout {
	align-items: center;
	display: flex;
	height: 100%;
}

.continue-shopping__anchor, .checkout__anchor {
	align-items: center;
	background-color: orange;
	border-radius: .2rem;
	color: black;
	display: flex;
	font-size: 2.2rem;
	height: 5rem;
	text-decoration: none;
	width: 20rem;
}

.continue-shopping__text, .checkout__text {
	text-align: center;
	width: 100%;
}

.continue-shopping__anchor:hover, .checkout__anchor:hover {
	box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
	cursor: pointer;
}

.checkout__anchor{
	background-color: #22c13a;
}