@font-face {
	font-family: Bree Serif;
	src: url("Fonts/BreeSerif.otf");
}

html {
	background-color: #f0f0f0;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	flex-shrink: 0;
	font-family: Bree Serif, serif;
	margin:0;
	padding: 0;
}

.header {
	justify-content: space-around;
	background-color: #cad6bb;
	display: flex;
	flex-direction: column;
	height: 110px;
	left: 0;
	position: sticky;
	right: 0;
	top: 0;
	z-index: 10;
}

.cart-and-search {
	display: flex;
	font-size: 3rem;
	justify-content: space-around;
	z-index: 10;
}

.logo__anchor {
	border: 0.1rem solid #cad6bb;
	color: #0d2d60;
	display: flex;
	font-variant: small-caps;
	/*height: 100%;*/
	justify-content: space-around;
	text-decoration: none;
	width: 20rem;
}

.logo__img {
	height: 60px;
	width: 60px;
}

.logo__name {
	align-items: center;
	display: flex;
	/*font-size: 30px;
	height: 100%;
	padding-left: 5px;
	width: 60%;*/
}

.logo__anchor:hover {
	border: 0.1rem solid #0d2d60;
}

.search-bar {
	align-items: center;
	background-color: none;
	display: flex;
	/*margin-left: 20px;
	padding-right: 20px;*/
}

.material-icons.md-50 {
	color: #616161;
	font-size: 3rem;
	font-weight: 550;
	left: 3.5rem;
	position: relative;
}

.search-bar__input{
	background-color: #f1f1f1;
	border-radius: 5px;
	border: 2px solid #0E4085;
	font-size: 2.5rem;
	font-variant: small-caps;
	height: 4rem;
	outline: none;
	padding-left: 4rem;
	width: 50rem;
}

.search-bar__input:focus {
	background-color: #E2F41E;
}

.your-account {
	align-items: center;
	background-color: none;
	display: flex;
	/*padding-right: 10px;*/
}

.your-account__button {
	background-color: #cad6bb;
	border: none;
	color: #0d2d60;
	cursor: pointer;
	font-size: 2rem;
	font-variant: small-caps;
	/*height: 40%;*/
	outline: none;
	text-decoration: underline;
	/*width: 100%;*/
}

.your-account__drop-down {
	background-color: #d9e0f0;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 5rem;
}

.your-account__anchor {
	color: #053370;
	display: block;
	font-size: 2rem;
	padding: 1rem 1.6rem;
	text-decoration: none;
}

.your-account__anchor:hover {
	background-color: #a5b6dc
}

.your-account:hover .your-account__drop-down {
	display: block;
}

.cart__anchor {
	align-items: center;
	border: 0.1rem solid #cad6bb;
	color: #0d2d60;
	display: flex;
	font-variant: small-caps;
	justify-content: space-around;
	text-decoration: none;
	width: 17rem;
}

.cart__img {
	height: 60px;
	width: 60px;
}

.cart__cart-text-value {
	display: flex;
}

.cart__anchor:hover {
	border: 0.1rem solid #0d2d60;
}

.category {
	font-size: 2rem;
	z-index: 6;
}

.category__nav {
	display: flex;
	justify-content: space-around;
}

.category__name {
	color: #57248A;
	text-decoration: none;
	text-align: center;
	width: 10rem;
}

.category__name:hover {
	background-color: #a5b6dc;
	border-radius: 5px;
	box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
}

.category__name:focus {
	background-color: #6cbb3b;
	border-radius: 5px;
	box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
}

.items-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*height: 340px;
	margin: 10px 10px 10px 10px;*/
}

.items-box:empty:before {
	content: "Sorry, No Book Found.";
	font-size: 10rem;
	height: calc(100vh - 110px);
	line-height: calc(100vh - 110px);
	text-align: center;
	width: 100vw;
}

.item-details {
	display: flex;
	flex-direction: column;
	height: 34rem;
	width: 23rem;
}

.item-details__anchor {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-decoration: none;
}

.item-details__anchor:hover {
	border-radius: 5px;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);	
}

.item-details__image-block {
	align-items: center;
	display: flex;
	height: 75%;
	justify-content: space-around;
}

.item-details__image-block > img {
	height: 21rem;
}

.item-details__name-price {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
}

.item-details__name {
	/*color: #303235;
	display: flex;
	flex-shrink: 1;
	font-size: 18px;
	overflow: scroll;
	padding: 0 5%;
	width: 100%;*/
	color: #303235;
    font-size: 1.8rem;
    overflow: hidden;
    text-align: center;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.item-details__anchor:hover .item-details__name {
	color: #123fd1;
}

.item-details__price {
	color: #303235;
	font-size: 2.5rem;
}

.item-details__category {
	display: none;
}