@font-face {
    font-family: Bree Serif;
    src: url("Fonts/BreeSerif.otf");
}

body {
	background-color: rgba(73,165,176,0.6); 
	min-width: 100%;
}

* {
  	font-family: Bree Serif;
	box-sizing: border-box;
	margin:0;
	padding: 0;
	flex-shrink: 0;
}

header {
	display: flex;
	background-color: 	#E6EAF3;
	flex-direction: column;
	height: 110px;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.cartAndSearch {
	background-color: 	#E6EAF3;
	display: flex;
	padding-left: 5%;
	padding-right: 3%;
	position: fixed;
	z-index: 10;
	height: 75px;
	width: 100%;
}

.cartAndSearch-symbol {
	display: flex;
	width: 18%;
}

.cartAndSearch-symbol a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
    font-variant: small-caps;
	color: #0d2d60;
	border-radius: 5px;
}

.cartAndSearch-symbol img {
	width: 40%;
	height: 100%;
}

.cartAndSearch-symbol span {
	display: flex;
	width: 60%;
	height: 100%;
	align-items: center;
	font-size: 30px;
	padding-left: 5px;
}

.cartAndSearch-symbol a:hover {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.cartAndSearch-searchBox {
	padding-right: 20px;
	background-color: none;
	align-items: center;
	display: flex;
	width: 55%;
	margin-left: 20px;
}

.cartAndSearch-searchBox input{
	border-radius: 10px;
	height: 50%;
	width: 100%;
	font-size: 25px;
	border: 2px solid #0E4085;
	background-color: #f1f1f1;
	background-image: url('images/search.png');
	background-size: 30px;
    background-position: 1% 40%; 
    background-repeat: no-repeat;
    padding: 8px 20px 12px 40px;
    outline: none;
    font-variant: small-caps;
}

.cartAndSearch-searchBox input:focus {
	background-color: #E2F41E;
}

.cartAndSearch-dropdown {
	padding-right: 10px;
	background-color: none;
	align-items: center;
	display: flex;
}

.cartAndSearch-dropdown-account-dropbtn {
	color: #0d2d60;
	font-size: 22px;
	height: 40%;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #E6EAF3;
    text-decoration: underline;
    font-variant: small-caps;
    outline: none;
}

.cartAndSearch-dropdownContent {
    position: absolute;
    display: none;
    background-color: #E6EAF3;
    width: 9%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.cartAndSearch-dropdownContent a {
    color: #053370;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.cartAndSearch-dropdownContent a:hover {background-color: #d5d5d5}

.cartAndSearch-dropdown-account:hover .cartAndSearch-dropdownContent {
    display: block;
}

.cartAndSearch-cart {
	padding-left: 10px;
	display: flex;
	width: 15%;
}

.cartAndSearch-cart a {
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
    font-variant: small-caps;
	color: #0d2d60;
	border-radius: 5px;
}

.cartAndSearch-cart img {
	margin-left: 10px;
	width: 25%;
	height: 60%;
}

.cartAndSearch-cart span {
	margin-left: 10px;
	display: flex;
	width: 75%;
	height: 100%;
	align-items: center;
	font-size: 30px;
}

.cartAndSearch-cart a:hover {
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.category {
	margin: 80px 20% 5px 20%;
	z-index: 6;
}

.category-nav {
	display: flex;
	justify-content: space-between;
}

.category-nav a {
	padding : 0 10px;
	text-decoration: none;
	font-size: 20px;
	color: #57248A;
}

.category-nav a:hover {
	box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
	background-color: #d5d5d5;
	border-radius: 5px;
}

.itemsBox {
	display: flex;
	height: 340px;
	margin: 10px 10px 10px 10px;
}

.itemsBox-category {
	width: 10%;
	display: flex;
	align-items: center;
	background-color: #e1e6ed;
}

.itemsBox-category span {
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #303235;
	-webkit-transform : rotate(-90deg);
}
.itemsBox-itemsList {
	display: flex;
	width: 90%;
	background-color: #f0f0f0; 
}

.itemsBox-itemsList-itemDetails {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.itemsBox-itemsList-itemDetails a {
	height: 100%;
	text-decoration: none;
}

.itemsBox-itemsList-itemDetails a:hover {
	border-radius: 5px;
	box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);	
}

.itemsBox-itemsList-itemDetails-image {
	height: 75%;
	padding: 10%;
}

.itemsBox-itemsList-itemDetails-image img {
	height: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.itemsBox-itemsList-itemDetails-image:hover {
	padding: 5%;
}

.itemsBox-itemsList-itemsDetails-priceAndName {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.itemsBox-itemsList-itemsDetails-priceAndName-name {
	color: #303235;
	font-size: 18px;
	padding: 0 5%;
}

.itemsBox-itemsList-itemDetails a:hover .itemsBox-itemsList-itemsDetails-priceAndName-name {
	color: #123fd1;
}

.itemsBox-itemsList-itemsDetails-priceAndName-price {
	color: #303235;
	font-size: 25px;
}
